<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= activity.activity_type %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= activity.distance %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= activity.calories %>
  </p>

  <p>
    <strong>Activity date:</strong>
    <%= activity.activity_date %>
  </p>

  <p>
    <strong>Averagehr:</strong>
    <%= activity.averageHR %>
  </p>

  <p>
    <strong>Averagepower:</strong>
    <%= activity.averagePower %>
  </p>

</div>
